@import "./colors";

.board {
  padding: 0 3rem;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

// .dashboard {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin-top: 3rem;
//   padding: 0 9%;

//   p {
//     margin-top: 3rem;
//     font-size: 1.3rem;
//     font-weight: 600;
//   }

//   .dashboard-header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 80%;
//     margin-bottom: 2rem;

//     @media (max-width: 768px) {
//       width: 100%;
//       font-size: 80%;
//     }

//     ul {
//       display: flex;
//       align-items: center;
//       column-gap: 20px;
//     }
//   }

//   .dashboard-body {
//     width: 80%;
//     box-shadow: 5px 5px 5px #ccc, -5px -3px 5px #ccc;
//     border-radius: 5px;

//     @media (max-width: 768px) {
//       width: 100%;
//     }
//   }

//   table {
//     width: 100%;

//     thead {
//       text-align: center;
//       font-size: 1.2rem;
//       border-bottom: 2px solid #000;

//       th {
//         width: auto;
//         padding: 1rem 0;

//         &:first-child {
//           width: 30px;
//         }
//       }
//     }

//     tbody {
//       text-align: center;

//       td {
//         padding: 1.5rem;
//         font-size: 1.1rem;
//         width: auto;

//         &:first-child {
//           width: 30px;
//         }
//         label {
//           padding: 5px 10px;
//           border-radius: 15px;

//           @media (max-width: 480px) {
//             padding: 2px 6px;
//             font-size: 8px;
//           }
//         }

//         label.todo {
//           background-color: rgb(124, 254, 124);
//         }
//         label.inprogress {
//           background-color: rgb(255, 180, 95);
//         }
//         label.done {
//           background-color: rgb(0, 119, 255);
//         }

//         div {
//           display: flex;
//           width: 100%;
//           justify-content: center;
//           align-items: center;
//         }

//         label {
//           flex: 1;
//         }
//       }
//     }
//   }
// }
