@import "./colors";

.add-issue-form {
  margin-top: 20px;

  label {
    margin-top: 17px;
    padding-bottom: 4px;
    display: block;
    color: rgb(94, 108, 132);
  }

  input {
    display: block;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    width: 100%;
    padding: 9px 10px;
    font-size: 16px;
    margin-bottom: 20px;

    &:focus {
      outline: none;
      border-color: #2684ff;
      border-width: 2.2px;
    }
  }

  .divide-line {
    margin-top: 20px;
  }

  .btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;

    .cancel-btn {
      background-color: #fff;
      color: rgb(66, 82, 110);

      &:hover {
        background-color: hsl(0, 0%, 90%)
      }
    }
  }
}

// .add-issue-form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   fieldset {
//     border: none;

//     legend {
//       margin: 1rem auto;
//     }
//   }

//   input {
//     margin: 1rem 0;
//     padding: 7px 10px;
//     display: block;
//     width: 300px;
//     font-size: 1rem;
//     border-radius: 3px;
//     border: 1px solid #ccc;

//     &:focus {
//       outline: none;
//       border: 1px solid black;
//     }
//   }

//   select {
//     margin: 1rem 0;
//     display: block;
//     padding: 7px 10px;
//     width: 300px;
//     font-size: 1rem;
//     border: 1px solid #ccc;
//     border-radius: 3px;

//     &:focus {
//       outline: none;
//       border: 1px solid black;
//     }
//   }
// }

// .fieldset-container {
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
//   column-gap: 2rem;
// }
