* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  font-weight: 550;
}
a:hover {
  color: #0052cc;
  background-color: #fff;
  border-radius: 5px;
}

button,
.button {
  background-color: #0052cc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}
button:hover,
.button:hover {
  background-color: hsla(216, 100%, 40%, 0.85);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 9%;
  background-color: #ccc;
}
.navbar h1 {
  font-size: 1.6rem;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.add-issue-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-issue-form fieldset {
  border: none;
}
.add-issue-form fieldset legend {
  margin: 1rem auto;
}
.add-issue-form input {
  margin: 1rem 0;
  padding: 10px 15px;
  display: block;
  width: 250px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.add-issue-form input:focus {
  outline: none;
  border: 1px solid black;
}
.add-issue-form select {
  margin: 1rem 0;
  display: block;
  padding: 10px 12px;
  width: 250px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.add-issue-form select:focus {
  outline: none;
  border: 1px solid black;
}

.issues-dashboard {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.issues-dashboard h2 {
  font-size: 2rem;
}
.issues-dashboard table {
  margin-top: 33px;
  width: 800px;
  background-color: #5c5b5b;
  border-radius: 5px;
  color: #fff;
}
.issues-dashboard table thead {
  margin: 30px;
}
.issues-dashboard table thead th {
  padding: 15px 0;
}
.issues-dashboard table tr {
  text-align: center;
}
.issues-dashboard table tbody td {
  padding: 15px 0;
  border-bottom: 1px solid #4d4d4d;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.modal-header h2 {
  flex: 1;
  text-align: center;
  padding-left: 2rem;
}

.fieldset-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 2rem;
}